{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Симулятор котов</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <div class="card">
        <h1>Симулятор кота</h1>
        <p class="text-muted">Добавьте нового кота</p>
        <form method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Имя кота" required>
            <input type="number" name="age" placeholder="Возраст (1-18)" min="1" max="18" required>
            <button type="submit" class="btn-main">Добавить кота</button>
        </form>
        <a href="{% url 'cats_list' %}" class="btn-main" style="display:block; margin-top:10px; text-decoration: none;">
            Список котов
        </a>
    </div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
</body>
</html>